@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
@import 'tailwindcss';

@theme {
  /* Font-Size */
  --text-3xl: 2rem; /* 32px */
  /* Font-Family */
  --font-fraunces: 'Fraunces', serif;
  --font-montserrat: 'Montserrat', sans-serif;
  /* Line-Height */
  --leading-wide: 1.6;
  --leading-tight: 1.2;
  --leading-tighter: 1.1;
  /* Letter-Spacing */
  --tracking-wide: 5px;
  /* Colors */
  --color-black: hsl(212, 21%, 14%);
  --color-gray: hsl(228, 12%, 48%);
  --color-cream: hsl(30, 38%, 92%);
  --color-green-500: hsl(158, 36%, 37%);
  --color-green-700: hsl(158, 42%, 18%);
}
